.StoriesContainer .swiper-wrapper {
	display: flex;
	justify-content: center;
}

.Stories .swiper-pagination-bullet {
	background: rgba(3, 72, 82, 0.7);
}

.Stories .swiper-pagination-bullet-active {
	background: rgba(3, 72, 82, 1); /* Color of the active pagination bullet */
}

/* Align pagination to the left bottom of the container */
.Stories .custom-pagination-container {
	margin-left: 0%;
	margin-top: 10px;
	right: auto;
	text-align: center;
}

@media screen and (max-width: 630px) {
	.StoriesContainer .swiper-wrapper {
		padding-left: 20vw;
	}
}
