.Wrapper{
    background: url('./bg.png')center center/cover no-repeat;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    color: white;
}

.Wrapper div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.Wrapper h1{
    font-weight: 600;
    line-height: 1;
    font-size: 35px;
}

.Wrapper p{
    font-size: 17px;
    line-height: 1;
}

@media screen and (max-width:500px) {
    .Wrapper{
        flex-direction: column;
    }
}