.Wrapper {
	padding: 6vh 5vw 0px;
	display: flex;
	flex-direction: column;
	gap: 3vh;
	width: 100%;
}

.Tabs {
	border-radius: 8px;
	background: #fff6f2;
	color: #ff7940;
	padding: 10px 15px;
	flex-shrink: 0;
}
.Tabs[aria-selected="true"] {
	background-color: #ff7940;
	color: white;
}
.TabsList {
	display: flex;
	justify-content: center;
	gap: 20px;
	overflow-y: scroll;
	font-size: 17px;
	width: 100%;
}
.Wrapper > div {
	display: flex;
	flex-direction: column;
	gap: 4vh;
}
.Wrapper .Swiperwrapper {
	width: 100%;
	position: relative;
	height: 100%;
}

.Wrapper .Swiperwrapper .LeftMask {
	width: 20vw;
	height: 100%;
	position: absolute;
	z-index: 800;
	background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.Wrapper .Swiperwrapper .RightMask {
	width: 20vw;
	height: 100%;
	position: absolute;
	z-index: 800;
	top: 0;
	right: 0;
	transform: rotate(180deg);
	background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.Wrapper .SwiperSlide {
	width: calc(100% / 2 - 20px);
}
.Wrapper .SwiperSlide .IndividualContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0px 10px;
	justify-content: space-between;
	gap: 20px;
	font-size: 16px;
}
.Wrapper .SwiperSlide .IndividualContainer img {
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	background-color: #d9d9d9;
	border-radius: 12px;
}

.Wrapper .SwiperSlide .IndividualContainer h2 {
	font-weight: 500;
}

.Wrapper .SwiperSlide .IndividualContainer p {
	font-size: 15px;
	line-height: 1.3;
}

@media screen and (max-width: 530px) {
	.Wrapper .SwiperSlide .IndividualContainer p {
		font-size: 15px;
	}
	.TabsList {
		padding-left: 80px;
	}
}

@media screen and (max-width: 450px) {
	.TabsList {
		padding-left: 120px;
	}
}
@media screen and (max-width: 400px) {
	.TabsList {
		padding-left: 150px;
	}
}

@media screen and (max-width: 420px) {
	.Wrapper .SwiperSlide .IndividualContainer p {
		font-size: 14px;
	}
}
