.partners {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
  padding: 5vh 5vw 0px;
}
.Wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}
.Wrapper div {
  width: calc(100% / 5);
  padding: 20px;
}

.Wrapper div img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  max-width: 130px;
}

.PartnerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3vh;
  padding: 6vh 0px;
}


.PartnerWrapper .inner {
  padding: 0px 20px;
}

.PartnerWrapper .inner img {
  height: 50px;
}

@media screen and (max-width: 700px) {
  .Wrapper {
    justify-content: flex-start;
  }
  .Wrapper > div {
    width: calc(100% / 4);
    padding: 5px 10px;
  }
  .Wrapper > div img {
    height: 30px;
    max-width: 80px;
  }
}
