.MainWrap {
  display: flex;
  flex-direction: column;
  padding: 6vh 0px;
  gap: 3vh;
}
.MainWrap h1{
    font-weight: 400;
    font-family: "Nohemi";
}
.Wrapper .Individual {
  padding: 20px 20px;
  text-align: justify;
  max-width: 360px;
  width: 100%;
  border-radius: 32px;
  border: 0.2px solid #ff7940;
  background: #fff6f2;
  margin-left: 30px;
  line-height: 1.1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Wrapper .Individual > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Wrapper .Individual > div img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.Wrapper .Individual > div h4 {
  font-weight: 500;
  font-size: 16.5px;
}

.Wrapper .Individual > div span {
  color: #555555;
  font-size: 15px;
}
